<table cellspacing="0" cellpadding="0" class="listHier rosterTable" id="roster_form_rosterTable">
	<thead>
		<tr>
            <th width="35%"><a href="#">{{translate 'facet_name'}}</a></th>
			{{#if viewUserDisplayId}}
                <th width="25%"><a href="#">{{translate 'facet_userId'}}</a></th>
            {{/if}}
			{{#if viewEmail}}
				<th width="25%"><a href="#">{{translate 'facet_email'}}</a></th>
            {{/if}}
            <th width="15%"><a href="#">{{translate 'facet_role'}}</a></th>
		</tr>
	</thead>
	<tbody id="roster-table-body">
	</tbody>
</table>
