    <form>
        <img class="first" src="/library/image/silk/control_start_blue.png"/>
        <img class="prev" src="/library/image/silk/control_rewind_blue.png"/>
        <input class="pagedisplay" type="text"/>
        <img class="next" src="/library/image/silk/control_fastforward_blue.png"/>
        <img class="last" src="/library/image/silk/control_end_blue.png"/>
        <select class="pagesize">
            <option selected="selected" value="1">1</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option  value="40">40</option>
        </select>
    </form>
